{% extends 'main/base.html' %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
{% block content %}

    <div class="topNav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/eligible">Eligible</a></li>
            <li><a href="/notEligible">Not Eligible</a></li>
            <li><a class="active" href="/about">About Us</a></li>
        </ul>
    </div>

    <h1 style="text-align: center"><b><u>Housing Support-For Tenants</u></b></h1>
    <h5 style="text-align: center">About Us</h5>

    <hr style="height: 3px">

    <div style="text-align: center">
        <h6> Attending your court date is vital whether you have legal aid or not. Do not miss your court date.<br> This
            application is suitable for both those who can get legal aid and those who cannot.<br> This application
            will help you find local legal aid solicitors in your Southwark and Lambeth and the application provides a
            form that can be saved to your device or printed.<br>
            It is important for you to complete this form before meeting with your duty solicitor as it will be helpful
            for them while reviewing your case.<br> Important to note, legal aid is limited. Completing the form
            provided in this application will ensure that if you don’t find a solicitor via legal aid at the time of
            your hearing, you will have all the information in one place for the duty solicitor to review.<br> If you
            are not eligible for legal aid this application is highly encouraged to use as the information you input
            will be useful on the day of your court hearing to your judge or duty solicitor if present.<br> This
            application is here to support you and make sure your side is heard. Attending your court date is vital
            whether you have legal aid or not. Do not miss your court date.
        </h6>
    </div>

{% endblock content %}
</body>
</html>
