{% extends 'main/base.html' %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <script type="text/javascript" src="html2canvas-master/dist/html2canvas.js"></script>
    </head>

    <body>
        {% block content %}

            <div class="topNav">
                <a href="/">Home</a>
                <a class="active" href="/eligible">Eligible</a>
                <a href="/notEligible">Not Eligible</a>
                <a href="/about">About Us</a>
            </div>

            <h1 style="text-align: center"><b><u>Housing Duty Solicitor</u></b></h1>
            <h5 style="text-align: center">You Are Eligible For Legal Aid</h5>

            <hr style="height: 3px">
            <br>
            <h4 style="text-align: center"><b>Housing Solicitors and Law Centres in Southwark and Lambeth</b></h4>


            <h5 style="text-align: center"><b>Southwark Law Centre</b></h5>
            <div class='parent'>
                <div class='child'>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.2501935709824!2d-0.07056858422387852!3d51.47192172111759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603a0696df57d%3A0x83685d31c909e2db!2sHanover%20Park%20House%2C%2014-16%20Hanover%20Park%2C%20London%20SE15%205HG!5e0!3m2!1sen!2suk!4v1668261012571!5m2!1sen!2suk" width="600" height="450" style="border:0; text-align: center" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class='child'>
                    <img src="../../static/main/southwarkCouncil.jpg" alt="SOUTHWARK LAW CENTRE IMAGE" style="text-align: center" width="600" height="450">
                </div>
            </div>
            <p style="text-align: center">Address: Hanover Park House, 14-16 Hanover Park, London SE15 5HG</p>
            <p style="text-align: center">Telephone: 020 7732 2008</p>
            <hr style="height: 3px; width: 750px">
            <br>

            <h5 style="text-align: center"><b>Lambeth Solicitors</b></h5>
            <div class="parent">
                <div class="child">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.8059404139613!2d-0.11723898422420183!3d51.461719321862944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604438003719f%3A0xecd5b3761c6bdc7b!2sLambeth%20Solicitors!5e0!3m2!1sen!2suk!4v1668262518990!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="child">
                    <img src="../../static/main/lambethSolicitors.jpg" alt="LAMBETH SOLICITORS IMAGE" style="text-align: center" width="600" height="450">
                </div>
            </div>
            <p style="text-align: center">Address: First Floor, 463-465 Brixton Rd, London SW9 8HL</p>
            <p style="text-align: center">Telephone: 020 7095 9995</p>
            <hr style="height: 3px; width: 750px">
            <br>

            <h5 style="text-align: center"><b>Ola Leslie Solicitors</b></h5>
            <div class="parent">
                <div class="child">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.4972208454938!2d-0.09340268422289234!3d51.50409331876599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603582e8c9cf3%3A0xb42d81bd9bdd17ba!2s60%20Borough%20High%20St%2C%20London%20SE1%201XF!5e0!3m2!1sen!2suk!4v1668262811569!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="child">
                    <img src="../../static/main/olaLeslie.png" alt="OLA LESLIE SOLICITORS IMAGE" style="text-align: center" width="600" height="450">
                </div>
            </div>
            <p style="text-align: center">Address: 60 Borough High Street, London Bridge, Southwark, London SE1 1XF</p>
            <p style="text-align: center">Telephone: 020 7183 0084</p>


            <hr style="height: 3px">
            <br>

            <div class="text-center">
                <h5 style="text-align: center"><b>IMPORTANT MESSAGE</b></h5>
                <p>It is not a guarantee that you will be able to find a lawyer.</p>
                <p>We believe that you should fill out a form so that you can show the duty solicitor in case the worse case scenario.</p>
                <p>Even if you do find a lawyer the form will be useful to show them.</p>
                <a href="/eligible/form"><button class="btn btn-outline-success btn-small" style="width: 270px">GO TO FORM</button></a>
            </div>
            <br>
            <hr style="height: 3px">
            <br>

        {% endblock %}
    </body>
</html>
