{% extends 'main/base.html' %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elegible page</title>
    <script type="text/javascript" src="html2canvas-master/dist/html2canvas.js"></script>
</head>

<body>
{% block content %}

    <div class="topNav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/eligible">Eligible</a></li>
            <li><a href="/notEligible">Not Eligible</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>

    </div>

    <h1 style="text-align: center"><b><u>Housing Support-For Tenants</u></b></h1>
    <h5 style="text-align: center">You Are Eligible For Legal Aid</h5>

    <br>
    <hr style="height: 3px">
    <br>

    <div class="text-center">
        <h5 style="text-align: center"><b>IMPORTANT MESSAGE</b></h5>
        <p>Legal aid is limited and even when you are eligible you may not find a solicitor in time for your court
            hearing.<br>
            It’s important that you complete this form below, it has all the information that the judge and duty
            solicitor will need on the day of your court hearing.<br>
            Attending your court date is vital whether you have legal aid or not. Do not miss your court date.</p>
        <a href="/eligible/form">
            <button class="btn btn-outline-success btn-small" style="width: 270px">GO TO FORM</button>
        </a>
    </div>

    <br>
    <h4 style="text-align: center"><b>Housing Solicitors and Law Centres in Southwark and Lambeth</b></h4>
    <hr style="height: 3px">
    <br>

    <h5 style="text-align: center"><b>Wainwright & Cummins Solicitors</b></h5>
    <div class='parent'>
        <div class='child'>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.8359468883637!2d-0.11877578425853592!3d51.46116842190352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760468186b2cb7%3A0xfbf116962fd939c1!2s6A%20Acre%20Ln%2C%20London%20SW2%205SG!5e0!3m2!1sen!2suk!4v1670451242135!5m2!1sen!2suk"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class='child'>
            <img src="../../static/main/" alt=" "
                 style="text-align: center" width="600" height="450">
        </div>
    </div>
    <p style="text-align: center">Address: 6A Acre Lane,London, SW2 5SG</p>
    <p style="text-align: center">Telephone: 020 7737 9330</p>
    <p style="text-align: center">Email: info@wainwrightcummins.co.uk</p>
    <p style="text-align: center">Website: www.wainwrightcummins.co.uk</p>

    <hr style="height: 3px; width: 750px">
    <br>

    <h5 style="text-align: center"><b>Anthony Gold Solicitors</b></h5>
    <div class="parent">
        <div class="child">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.245232642035!2d-0.09884748425762427!3d51.49036711976939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876049e58cf1117%3A0x61014d7879e8bd89!2s169%20Walworth%20Rd%2C%20London%20SE17%201RW!5e0!3m2!1sen!2suk!4v1670451320857!5m2!1sen!2suk"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="child">
            <img src="../../static/main/" alt=" " style="text-align: center"
                 width="600" height="450">
        </div>
    </div>
    <p style="text-align: center">Address: 169 Walworth Road, London, SE17 1RW</p>
    <p style="text-align: center">Telephone: 020 7940 4060</p>
    <p style="text-align: center">Email: mail@anthonygold.co.uk</p>
    <p style="text-align: center">Website: www.anthonygold.co.uk</p>

    <hr style="height: 3px; width: 750px">
    <br>

    <h5 style="text-align: center"><b>Hansen Palomares Solicitors</b></h5>
    <div class="parent">
        <div class="child">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.061019454183!2d-0.11267308425751504!3d51.49374771952238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604961c4e84f5%3A0xac1f298e82ae6bbd!2s153%20Kennington%20Rd%2C%20London%20SE11%206SF!5e0!3m2!1sen!2suk!4v1670451361441!5m2!1sen!2suk"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="child">
            <img src="../../static/main/" alt=" " style="text-align: center"
                 width="600" height="450">
        </div>
    </div>

    <p style="text-align: center">Address: 153 Kennington Road, London, SE11 6SF</p>
    <p style="text-align: center">Telephone: 020 7640 4600</p>
    <p style="text-align: center">Email: info@hansenpalomares.co.uk</p>
    <p style="text-align: center">Website: www.hansenpalomares.co.uk</p>

    <hr style="height: 3px; width: 750px">
    <br>

    <h5 style="text-align: center"><b>Deighton Pierce Glynn</b></h5>
    <div class="parent">
        <div class="child">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.5289344866233!2d-0.09442778425717756!3d51.50351141880845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603583c2d3c5d%3A0xe12f0229a3b699e3!2s8%20Union%20St%2C%20London%20SE1%201SZ!5e0!3m2!1sen!2suk!4v1670451415754!5m2!1sen!2suk"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="child">
            <img src="../../static/main/" alt=" " style="text-align: center"
                 width="600" height="450">
        </div>
    </div>
    <p style="text-align: center">Address: 8 Union Street, London, SE1 1SZ</p>
    <p style="text-align: center">Telephone: 020 7407 0007</p>
    <p style="text-align: center">Website: www.dpglaw.co.uk</p>

    <hr style="height: 3px; width: 750px">
    <br>

    <h5 style="text-align: center"><b>GT Stewart</b></h5>
    <div class="parent">
        <div class="child">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.853725166688!2d-0.08235588425854783!3d51.46084202192721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876039043e35731%3A0x1e03f7c96c887286!2s2A%20Melbourne%20Grove%2C%20London%20SE22%208PL!5e0!3m2!1sen!2suk!4v1670451447278!5m2!1sen!2suk"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="child">
            <img src="../../static/main/" alt=" " style="text-align: center"
                 width="600" height="450">
        </div>
    </div>
    <p style="text-align: center">Address: 2a Melbourne Grove, East Dulwich, SE22 8PL</p>
    <p style="text-align: center">Telephone: 0208 299 6000</p>
    <p style="text-align: center">Website: www.gtstewart.co.uk</p>

    <hr style="height: 3px; width: 750px">
    <br>

    <h5 style="text-align: center"><b>Law Stop</b></h5>
    <div class="parent">
        <div class="child">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.0792090249543!2d-0.22186258425750988!3d51.49341391954674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760fb884a2895d%3A0x696330751911f48b!2sKings%20House%2C%20174%20Hammersmith%20Rd%2C%20London%20W6%207JP!5e0!3m2!1sen!2suk!4v1670451483297!5m2!1sen!2suk"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="child">
            <img src="../../static/main/" alt=" " style="text-align: center"
                 width="600" height="450">
        </div>
    </div>
    <p style="text-align: center">Address: 174 Hammersmith Road, London, W6 7JP</p>
    <p style="text-align: center">Telephone: 0208 150 2588</p>
    <p style="text-align: center">Email: E:Info@lawstop.co.uk</p>
    <p style="text-align: center">Website: https://www.lawstop.co.uk/</p>

    <hr style="height: 3px; width: 750px">
    <br>

    <h5 style="text-align: center"><b>Cambridge House Law Centre</b></h5>
    <div class="parent">
        <div class="child">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.7768118753766!2d-0.09626498425791878!3d51.4806109204827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604827e5fa0c1%3A0x1153d0a889859646!2s137%20Camberwell%20Rd%2C%20London%20SE5%200HB!5e0!3m2!1sen!2suk!4v1670451517599!5m2!1sen!2suk"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="child">
            <img src="../../static/main/" alt=" " style="text-align: center"
                 width="600" height="450">
        </div>
    </div>
    <p style="text-align: center">Address: 137 Camberwell Road, London, SE5 0HF</p>
    <p style="text-align: center">Telephone: 020 7358 7025</p>
    <p style="text-align: center">Website: www.ch1889.org</p>

    <hr style="height: 3px">
    <br>

    </body>
{% endblock %}
</html>
