{% extends 'main/base.html' %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
{% block content %}

    <div class="topNav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/eligible">Eligible</a></li>
            <li><a href="/notEligible">Not Eligible</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>

    </div>


    <h1 style="text-align: center"><b><u>Housing Support-For Tenants</u></b></h1>

    <p style="text-align: center">This application is for tenants of social landlords in Southwark and Lambeth who are
        being taken to court for rent arrears facing eviction.<p>
    <p style="text-align: center">This application is designed to help you find out if you can get legal aid, find a
        local legal aid lawyer, and complete a from that can be saved to your devise or printed which will be useful
        during this process.</p>
    <p style="text-align: center">The purpose of this application is to support you and make sure your side is heard.
        Attending your court date is vital whether you have legal aid or not. Do not miss your court date.</p>

    <hr style="height: 3px">
    <br>

    <h4 style="text-align: center"><b>Click The Link Below To Check If You Are Eligible For Legal Aid</b></h4>
    <h5 style="text-align: center"><a href="https://www.gov.uk/check-legal-aid" target="_blank">https://www.gov.uk/check-legal-aid</a>
    </h5>

    <div class="text" style="text-align: center">
        <p>If you are eligible for legal aid select the option on the left, if you are NOT eligible select the option on
            the right.</p>
        <a href="/eligible">
            <button class="btn btn-outline-success btn-small" style="width: 270px">ELIGIBLE FOR LEGAL AID</button>
        </a>
        <a href="/notEligible">
            <button class="btn btn-outline-success btn-small" style="width: 270px">NOT ELIGIBLE FOR LEGAL AID</button>
        </a>

    </div>

    <br>
    <hr style="height: 3px">
    <br>

{% endblock content %}
</body>
</html>
