{% extends 'main/base.html' %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
{% block content %}

    <div class="topNav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/eligible">Eligible</a></li>
            <li><a class="active" href="/notEligible">Not Eligible</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>

    </div>

    <h1 style="text-align: center"><b><u>Housing Duty Solicitor</u></b></h1>
    <h5 style="text-align: center">You Are Not Eligible For Legal Aid.</h5>

    <hr style="height: 3px">
    <br>

    <form class="empty-form">
        <label for="firstName"><b>First Name:</b></label>

        <input type="text" id="firstName" name="firstName">


        <label for="lastName"><b>Last Name:</b></label>

        <input type="text" id="lastName" name="lastName">


        <label for="rent"><b>How Much Rent Do You Owe?:</b></label>

        <input type="text" id="rent" name="rent">


        <label for="lengthLived"><b>How Long Have You Lived In Your Home?:</b></label>

        <input type="text" id="lengthLived" name="lengthLived">


        <label for="household"><b>Who Lives With You In Your Household?:</b></label>

        <input type="text" id="household" name="household">


        <label for="income"><b>What Is Your Income?:</b></label>

        <input type="text" id="income" name="income">


        <label for="HealthCondition"><b>Is There Anyone In Your Household With Any Significant Physical or Mental
            Problems?:</b></label>

        <input type="text" id="HealthCondition" name="healthCondition">


        <label for="disrepair"><b>Is There Any Disrepair To Your Home?:</b></label>

        <input type="text" id="disrepair" name="disrepair">

    </form>


    <div class="text-center">
        <br>
        <a href="/notEligiblePage" download="Evidence Sheet">
            <button class="btn btn-outline-success" style="width: 270px">Download</button>
        </a>
        <button class="btn btn-outline-success" onclick="window.print();" style="width: 270px">PRINT</button>
    </div>

    <br>
    <hr style="height: 3px">
{% endblock %}
</body>
</html>
